:root{
    --black: #1a1a1d;
    --cinza: #4e4e50;
    --vermelho-escuro: #6f2232;
    --vermelho-vinho: #950740;
    --vermelho-neon: #c3073f;
    --algumas-Letras: rgb(211, 201, 201);
}

*{
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(224, 213, 213);
}
a.fonteDeLinks{
    color: var(--black);
    text-decoration: none;
}